# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# Pip cache
pip-wheel-metadata/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

*mlflow.db
mlruns/

*terraform.md
*.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup